### IntelliJ
.idea
*.iml

### The empty Squirls database meant to be used with IDE to provide autocompletion etc.
1710_splicing_empty.mv.db
1710_splicing_empty.trace.db

### Java template
# Compiled class files and resources
target/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
!maven-wrapper.jar
*.jar
*.war
*.nar
*.ear
*.zip
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Sphinx documentation
docs/_build/
