<div lang="en" th:remove="tag" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="variant-box">
        <div class="row">
            <div class="col-md-12">
                <!-- THE TRANSCRIPT TABLE -->
                The variant overlaps with <span th:remove="tag" th:text="${#lists.size(variantAnnotations)}">1</span>
                <span th:remove="tag" th:text="${#lists.size(variantAnnotations) > 1} ? 'transcripts' : 'transcript'">transcript</span>:
                <div class="transcript-list">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Transcript Accession</th>
                            <th>CDS Change</th>
                            <th>Variant Effect</th>
                            <th>Squirls Score</th>
                        </tr>
                        </thead>
                        <tbody th:with="maxScore=${squirls_results.maxPathogenicity()}">
                        <tr th:each="txAnn: ${variantAnnotations}"
                            th:styleappend="${squirls_results.pathogenicityForTranscript(accession_id).orElse(0.) >= maxScore} ? 'color: #black; background-color: #d8ecf6;'"
                            th:with="accession_id=${txAnn.getTranscript().getAccession()}">

                            <td><em th:text="${accession_id}">NM_0012234.5</em></td>
                        <td><span th:remove="tag" th:text="${txAnn.getCDSNTChangeStr()}">c.123A>G</span></td>
                        <td><span th:remove="tag" th:text="${txAnn.getMostPathogenicVarType()}">MISSENSE_VARIANT</span></td>
                        <td><span th:remove="tag" th:text="${#numbers.formatDecimal(squirls_results.pathogenicityForTranscript(accession_id).orElse(0.), 1, 3)}"
                        >0.890</span></td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- SPLICING FEATURES TABLE -->
            <h5 class="effects-title">Squirls features</h5>
            <table class="table table-striped feature-table" th:with="missing='NaN'">
                <tr>
                    <th>Feature</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Acceptor offset</td>
                    <td th:text="${feature.isPresent()} ? ${#numbers.formatInteger(feature.getAsDouble(), 1)} : missing"
                        th:with="feature=${highest_prediction.featureValue('acceptor_offset')}">-7
                    </td>
                </tr>
                <tr>
                    <td><i>&Delta;R<sub>i</sub></i> canonical acceptor</td>
                    <td th:text="${feature.isPresent()} ? ${#numbers.formatDecimal(feature.getAsDouble(), 1, 2)} : missing"
                        th:with="feature=${highest_prediction.featureValue('canonical_acceptor')}">3.45
                    </td>
                </tr>
                <tr>
                    <td><i>&Delta;R<sub>i</sub></i> cryptic acceptor</td>
                    <td th:text="${feature.isPresent()} ? ${#numbers.formatDecimal(feature.getAsDouble(), 1, 2)} : missing"
                        th:with="feature=${highest_prediction.featureValue('cryptic_acceptor')}">1.23
                    </td>
                </tr>
                <tr>
                    <td>Exon length</td>
                    <td th:text="${feature.isPresent()} ? ${#numbers.formatInteger(feature.getAsDouble(), 1)} : missing"
                        th:with="feature=${highest_prediction.featureValue('exon_length')}">123
                    </td>
                </tr>
                <tr>
                    <td>Creates AG in <i>AGEZ</i></td>
                    <td th:text="${#numbers.formatInteger(highest_prediction.featureValue('creates_ag_in_agez').orElse(0.), 1) == 1 ? 'Yes': 'No'}">Yes</td>
                </tr>
                <tr>
                    <td>Creates YAG in <i>AGEZ</i></td>
                    <td th:text="${#numbers.formatInteger(highest_prediction.featureValue('creates_yag_in_agez').orElse(0.), 1) == 1 ? 'Yes': 'No'}">Yes</td>
                </tr>
                <tr>
                    <td>ESRSeq</td>
                    <td th:text="${feature.isPresent()} ? ${#numbers.formatDecimal(feature.getAsDouble(), 1, 2)} : missing"
                        th:with="feature=${highest_prediction.featureValue('hexamer')}">3.12
                    </td>
                </tr>
                <tr>
                    <td>SMS</td>
                    <td th:text="${feature.isPresent()} ? ${#numbers.formatDecimal(feature.getAsDouble(), 1, 2)} : missing"
                        th:with="feature=${highest_prediction.featureValue('septamer')}">1.23
                    </td>
                </tr>
                <tr>
                    <td>phyloP</td>
                    <td th:text="${feature.isPresent()} ? ${#numbers.formatDecimal(feature.getAsDouble(), 1, 2)} : missing"
                        th:with="feature=${highest_prediction.featureValue('phylop')}">3.4
                    </td>
                </tr>
            </table>
            </div>
        </div>
        <div class="row">
            <div class="graphics-container">
                <div class='graphics-title' th:text="${context}">Cryptic acceptor</div>
                <div class="graphics-content">
                    <div class="graphics-subcontent" th:utext="${primary}">
                        <svg height="200" style="border: solid black;" width="300" xmlns="http://www.w3.org/2000/svg"/>
                    </div>
                    <div class="graphics-subcontent" th:utext="${secondary}">
                        <svg height="200" style="border: solid black;" width="300" xmlns="http://www.w3.org/2000/svg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>