<div class="row">
    <div class="col-md-12">
        <!-- THE TRANSCRIPT LIST -->
        <h5 class="effects-title">Variant effects on overlapping transcripts</h5>
        <div class="transcript-list">
            <ul th:each="annotation: ${variantAnnotations.getAnnotations()}">
                <li th:remove="tag">
                    <span th:remove="tag" th:text="${annotation.getTranscript().getAccession()}">NM_0012234.5</span>: <span th:text="${annotation.getCDSNTChangeStr()}">c.123A>G</span>
                    <span th:remove="tag" th:text="${annotation.getMostPathogenicVarType()}">MISSENSE_VARIANT</span>
                    <span th:remove="tag" th:text="${#numbers.formatDecimal(pathogenicity, 1, 3)}" th:with="pathogenicity=${primaryPrediction.getPrediction().getMaxPathogenicity()}">0.890</span>
                </li>
            </ul>
        </div>
        <!-- SPLICING FEATURES TABLE -->
        <h5 class="effects-title">Squirls features</h5>
        <table class="table table-striped feature-table">
            <tr>
                <th>Feature</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Donor offset</td>
                <td th:text="${primaryPrediction.getFeatureAsInt('donor_offset')}">2</td>
            </tr>
            <tr>
                <td><i>R<sub>i</sub> wt</i> donor</td>
                <td th:text="${#numbers.formatDecimal(primaryPrediction.getFeatureAsDouble('wt_ri_donor'), 1, 2)}">1.23</td>
            </tr>
            <tr>
                <td>max <i>R<sub>i</sub></i> cryptic donor window</td>
                <td th:text="${#numbers.formatDecimal(primaryPrediction.getFeatureAsDouble('alt_ri_best_window_donor'), 1, 2)}">3.4</td>
            </tr>
            <tr>
                <td><i>&Delta;R<sub>i</sub></i> canonical donor</td>
                <td th:text="${#numbers.formatDecimal(primaryPrediction.getFeatureAsDouble('canonical_donor'), 1, 2)}">-2.1</td>
            </tr>
            <tr>
                <td><i>&Delta;R<sub>i</sub></i> cryptic donor</td>
                <td th:text="${#numbers.formatDecimal(primaryPrediction.getFeatureAsDouble('cryptic_donor'), 1, 2)}">3.4</td>
            </tr>
            <tr>
                <td><i>&Delta;R<sub>i</sub> wt</i> closest donor</td>
                <td th:text="${#numbers.formatDecimal(primaryPrediction.getFeatureAsDouble('s_strength_diff_donor'), 1, 2)}">3.4</td>
            </tr>
            <tr>
                <td>phyloP</td>
                <td th:text="${#numbers.formatDecimal(primaryPrediction.getFeatureAsDouble('phylop'), 1, 2)}">3.4</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="donor" th:utext="${graphics}"></div>
    </div>
</div>